################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


*.db
*.opendb
.vs/
SDL2.0 Lib/
Game Engine/Debug/
Game Engine/Release/